[General]

# Use single master password for all users, created during installation ( Default: n )
sap_hana_deployment_use_master_password=y

[Action]

action=install

number=90
sapmnt=/hana/shared/


[Server]

sid=HXE
master_password=Passw0rd
use_master_password=Passw0rd
password=Passw0rd
sapadm_password=Passw0rd
system_user_password=Passw0rd
